pennylane==0.35.1
tensorflow==2.16.1
scikit-learn==1.4.2
medmnist==3.0.1
torch==2.2.2
autograd==1.6.2
numpy==1.26.4
autoray==0.6.7
pennylane==0.35.1
pennylane-lightning==0.36.0
matplotlib==3.9.2
seaborn==0.13.2
# Python version note
# Requires: python==3.10
